Include /etc/ssh/sshd_config.d/*.conf
Port 50150
AuthorizedKeysFile	.ssh/authorized_keys
PermitRootLogin no
ChallengeResponseAuthentication no

KbdInteractiveAuthentication no

PubkeyAuthentication yes
UsePAM yes
X11Forwarding yes
PrintMotd no

AcceptEnv LANG LC_*

Subsystem	sftp	/usr/lib/openssh/sftp-server

PasswordAuthentication no